html {
  background: url(index-paper-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
              -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='index-paper-bg.jpg', sizingMethod='scale')";
                   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.index-paper-bg.jpg', sizingMethod='scale');
}
