// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

h1, h2 {
  &:after {
    background: url('../images/header-after.png') no-repeat center;
    content: ' ';
    display: block;
    height: 8px;
  }
}

// Anchors
//-----------------------------------------------------------------------------
a {
  text-decoration: underline;
}

//a:focus {}

a.active,
a:active,
a:hover {
  text-decoration: none;
}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}

input[type="file"], input[type="checkbox"], input[type="radio"], select {
  margin: 0;
}

select[multiple="multiple"] {
  height: 10em;
}

fieldset {
  border: 1px solid $dark;

  legend {
    background: none;
  }
}

table {
  width: 100%;
}