.contain-to-grid {
  background: rgba(131, 174, 143, 0.75);
  border-bottom: 1px solid rgb(131, 174, 143);
  padding: 5px 0;
}

.top-bar {
  background: none;
  ul li, li:not(.has-form) a:not(.button) {
    background: none;
  }
}