.contain-to-grid {
  border-bottom: 1px solid $green;
}

.top-bar {
  background: none;
  ul li, li:not(.has-form) a:not(.button) {
    background: none;
  }
  li:not(.has-form) a:not(.button):hover {
    background: $green;
  }
}