.views-row {
  @extend .clearfix;

  margin-bottom: 20px;
}

.view-volunteers, .view-attendees {
  @extend .row;

  .view-content {
    @extend .clearfix;
  }

  .user-profile {
    margin-bottom: 1rem;

    .group-left {
      height: 7rem;
      width: 7rem;
      max-width: 7rem;
    }

    .group-right {
      padding: 2.375rem 0 0 1rem;
    }

    .field {
      float: none;
    }
    
    .field-name-field-profile-first, .field-name-field-profile-last {
      display: inline-block;
      line-height: 1.25rem;
    }

    .field-name-field-profile-org {
      line-height: 1rem;
    }
  }
}

.view-attendees {
  .field-name-field-profile-org {
    &:before {
      content: '';
      display: none;
    }
  }
}
