// Non-modular or client styles for .l-header region.

.l-header-region {
  max-width: 100%;
  width: 100%;
}
.l-branding {
  background: url('../images/leuvenmarkt2_edit.png') transparent center top -210px no-repeat;
  background-size: cover;
  min-height: 800px;
  text-align: center;
  width: 100%;

  .node-type-event & {
    background: url('../images/leuvenmarkt2_edit.png') transparent center top no-repeat;
    background-size: cover;
  }
}

.site-branding__logo {
  display: block;
  padding-top: 8em;
}