// Non-modular or client styles for .l-header region.

.l-header-region {
  max-width: 100%;
  width: 100%;
}
.l-branding {
  background: url('../images/leuvenmarkt2_edit.png') transparent center top -250px no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 450px;
  width: 100%;

  .node-type-event & {
    background: url('../images/leuvenmarkt2_edit.png') transparent center top no-repeat;
    background-size: cover;
    min-height: 800px;
  }
}

.l-region--branding {
  .node-type-event & {
    margin-top: 5em;
  }
}

.site-branding__logo {
  display: block;
  padding-top: 4em;
  .node-type-event & {
    padding-top: 6em;
  }
}

.l-footer {
  margin-top: 2em;
  border-top: 1px dashed #ccc;
  padding: 2em 0;
}