@import "../../custom/zurb_foundation/scss/foundation/functions";

$green: rgb(131, 174, 143);
$green-alpha: rgba(131, 174, 143, 0.75);
$pink: rgb(148, 119, 184);
$pink-alpha: rgba(148, 119, 184, 0.75);

$primary-color: $green;
$secondary-color: $pink;

$topbar-bg-color: $green-alpha;

$body-font-family: "FuturaBT-Book", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;