@import "../../custom/zurb_foundation/scss/foundation/functions";

/**
 * COLOR SCHEMA FROM DESIGN
 */
$black: #000000;
$darkest: #0A0909;
$darkest-alpha: rgba(9, 9, 9, 0.7);
$darker: #1D1D1B;
$dark: #2B2B2B;
$light: #D8D8D8;
$white: #FFFFFF;

$primary-color: $darker;
$secondary-color: $light;

/**
 * FONT SCHEMA
 */
$body-font-family: "FuturaBT-Book", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-font-color: $darker;
$header-font-color: $darker;

/**
 * BUTTONS
 */
$button-bg-color: $darkest-alpha;
$button-bg-hover: $darkest;
$button-border-color: $white;
$button-border-width: 1px;

/**
 * TOPBAR
 */
$topbar-bg-color: transparent;
$topbar-link-bg-hover: transparent;