.timeline {
  list-style: none;
  overflow: hidden;
  padding: 20px 0 20px;
  position: relative;

  h3, h4 {
    margin: 0;
  }

  .tldate {
    clear: both;
    display: block;
    color: $darker;
    font-size: 1.5rem;
    padding: 3px 0;
    text-align: center;
    width: 100%;
  }

  .schedule-item, .session {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h4 {
      text-transform: none;
    }
  }

  .session {
    margin: 0 0 25px 0;
    padding: 0;

    @media #{$medium-up} {
      &.parallel-2 {
        float: left;
        width: 46%;
      }
    }

    h4 {
      text-align: left;
    }

    .timeline-panel {
      border: 1px solid $dark;
      padding: 0.5rem;
      width: 100%;
    }
  }

  .schedule-item {
    h3 {
      width: 100%;
      margin-top: 1rem;
    }

    &.schedule_breakfast, &.schedule_welcome, &.schedule_coffee {
      h3 {
        width: 100%;
        background: url(../images/coffee.png) center top / 75px 129px no-repeat;
        padding-top: 129px;
      }
    }

    .field-name-session-room {
      text-align: center;
      font-style: italic;
    }

    //    &.schedule_lunch {
    //      h3 {
    //        width: 100%;
    //        background: url(../images/coffee.png) center top / 75px 129px no-repeat;
    //        padding-top: 129px;
    //      }
    //    }
    //
    //    &.schedule_drinks {
    //      h3 {
    //        width: 100%;
    //        background: url(../images/coffee.png) center top / 75px 129px no-repeat;
    //        padding-top: 129px;
    //      }
    //    }
    //
    //    &.schedule_tapas {
    //      h3 {
    //        width: 100%;
    //        background: url(../images/coffee.png) center top / 75px 129px no-repeat;
    //        padding-top: 129px;
    //      }
    //    }
  }

  .field-name-field-speakers {
    margin: 0.25em 0;
  }

  .group-room-experience {
    @extend .clearfix;

    background: $darker;
    bottom: 0;
    color: $white;
    clear: both;
    font-size: 0.75rem;
    line-height: 20px;
    margin: 3em 0 0 0;
    padding: 2px 5px;
    width: 100%;

    .field-name-session-room {
      float: left;
    }

    .field-name-og-vocabulary {
      float: right;
      margin: 0 1em 0 0;

      a {
        color: $white;
      }
    }

    .field-name-field-experience {
      float: right;
      margin: 0;
    }
  }
}
