.section-sponsors {
  .view-sponsors {
    margin-bottom: 3rem;
  }

  .sponsors--featured {
    display: none;
  }
}

.node-sponsor {
  .field-name-field-sponsor-logo {
    text-align: center;
  }
}

.view-display-id-block_4, .node-type-sponsor .footer {
  &:before {
    background: url('../images/pager-after.png') no-repeat center;
    content: ' ';
    display: block !important;
    height: 10px;
    margin: 1rem 0;
    padding: 1rem 0;
  }
}