@import url("http://pluggable.reisinfo.delijn.be/routeplannerPluggable/js/dijit/themes/nihilo/nihilo.css");
.full-width, .block-drupalcamp-routeplanner {
  width: 100%; }

.block-drupalcamp-routeplanner {
  padding: 10px 0 0;
  float: left; }
  .block-drupalcamp-routeplanner fieldset {
    margin: 0;
    margin-bottom: 15px;
    width: 100%; }
  .block-drupalcamp-routeplanner .dl-wrapper {
    width: 100%; }
  .block-drupalcamp-routeplanner .dl-button {
    text-align: left;
    color: white;
    font-size: 14px;
    padding: 5px 30px;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    border: none; }
    .block-drupalcamp-routeplanner .dl-button:hover {
      text-decoration: none;
      color: white; }
  .block-drupalcamp-routeplanner .calculate-button {
    clear: both;
    border-top: 1px dashed #ccc;
    margin-top: 40px;
    padding-top: 5px;
    text-align: center;
    width: 100%; }
  @media screen and (min-width: 680px) {
    .block-drupalcamp-routeplanner fieldset {
      float: left;
      margin-right: 2%;
      width: 28%; }
    .block-drupalcamp-routeplanner .dl-border {
      padding: 20px; }
    .block-drupalcamp-routeplanner .dl-icon-swap {
      float: left;
      width: 4%;
      margin-right: 1%;
      margin-top: 105px;
      behavior: url(-ms-transform.html);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg); } }
  .block-drupalcamp-routeplanner .dl-border {
    background: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px; }

/* ****** *
 * LEGACY *
 * ****** */
.dl-hidden {
  display: none !important; }

.dl-visible {
  visibility: visible !important; }

.dl-invisible {
  visibility: hidden !important; }

.dl-error-mandatory {
  border: 2px solid #D8000C !important; }

.dl-inactive {
  color: #999 !important; }

.dl-active {
  color: #000 !important; }

.dl-focused {
  color: #000 !important;
  background: #fffee7 !important; }

.dl-icon-swap {
  height: 20px;
  display: block;
  background: url("../img/swap_02.png") no-repeat right;
  width: 50%; }

.dl-icon-logo {
  height: 78px;
  background: url("../img/dl-logo-delijn.png") no-repeat right;
  width: 74px;
  margin-left: 20px;
  display: block; }

.dl-icon-swap-onMouseOver {
  background: url("../img/swap_01.png") no-repeat right; }

.dl-icon-swap-onMouseOut {
  background: url("../img/swap_02.png") no-repeat right; }

/*
 * Basic template overridden for pluggable routeplanner
 */
.yui-skin-delijnPluggable .yui-ac {
  position: relative;
  font-size: 100%; }

.yui-skin-delijnPluggable .yui-ac-container {
  position: absolute;
  top: 1.8em;
  width: 100%; }

.yui-skin-delijnPluggable .yui-ac-content {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 9050;
  border: 1px solid #808080;
  background: #fff; }

.yui-skin-delijnPluggable .yui-ac-content ul {
  margin: 0;
  padding: 0;
  width: 100%; }

.yui-skin-delijnPluggable .yui-ac-content li {
  margin: 0;
  padding: 2px 5px;
  cursor: default;
  white-space: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  zoom: 1; }

.yui-skin-delijnPluggable .yui-ac-content li.yui-ac-prehighlight {
  color: #FFF;
  background: #9477b8; }

.yui-skin-delijnPluggable .yui-ac-content li.yui-ac-highlight {
  background: rgba(148, 119, 184, 0.75);
  color: #FFF; }

/*
 * Styles for the calendar
 */
/* calendar icon */
img.tcalIcon {
  cursor: pointer;
  margin-left: 1px;
  vertical-align: middle;
  height: 20px; }

/* calendar container element */
div#tcal {
  position: absolute;
  visibility: hidden;
  z-index: 100;
  width: 158px;
  padding: 2px 0 0 0; }

/* all tables in calendar */
div#tcal table {
  width: 100%;
  border: 1px solid silver;
  border-collapse: collapse;
  background-color: white;
  margin: 0; }

/* navigation table */
div#tcal table.ctrl {
  border-bottom: 0; }

/* navigation buttons */
div#tcal table.ctrl td {
  width: 15px;
  height: 20px; }

/* month year header */
div#tcal table.ctrl th {
  background-color: white;
  color: black;
  border: 0; }

/* week days header */
div#tcal th {
  border: 1px solid silver;
  border-collapse: collapse;
  text-align: center;
  padding: 3px 0;
  font-family: tahoma, verdana, arial;
  font-size: 10px;
  background-color: gray;
  color: white; }

/* date cells */
div#tcal td {
  border: 0;
  border-collapse: collapse;
  text-align: center;
  padding: 2px 0;
  font-family: tahoma, verdana, arial;
  font-size: 11px;
  width: 22px;
  cursor: pointer; }

/* date highlight
   in case of conflicting settings order here determines the priority from least to most important */
div#tcal td.othermonth {
  color: silver; }

div#tcal td.weekend {
  background-color: #ACD6F5; }

div#tcal td.today {
  border: 1px solid red; }

div#tcal td.selected {
  background-color: #FFB3BE; }

/* iframe element used to suppress windowed controls in IE5/6 */
iframe#tcalIF {
  position: absolute;
  visibility: hidden;
  z-index: 98;
  border: 0; }

.nihilo .dijitDialog {
  background-color: white; }

/*# sourceMappingURL=routeplanner.css.map */
