// Non-modular or client styles for .l-footer region.

.l-footer {
  &:before {
    background: url('../images/header-after.png') repeat-x center;
    content: ' ';
    display: block;
    height: 8px;
    margin: 1.25rem 0;
  }
}

.footer {
  text-align: center;

  p {
    &:not(:last-child) {
      &:after{
        background: url('../images/footer-p-after.png') no-repeat top center;
        content: ' ';
        display: block !important;
        height: 10px;
        margin: 1.25rem 0 0 0;
      }
    }
  }


}