button:hover, button:focus, .button:hover, .button:focus {
//  background: none;
}

button, .button {
  text-transform: uppercase;
}

.button-group {
  text-align: center;
}

.button.secondary.active {
  @include button-style($bg:$secondary-button-bg-hover, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color);
}