.page-taxonomy .node-session.view-mode-taxonomy_page_overview {
  border: 0;
  .field-name-session-room {
    float: right;

  }
}

.experience-level {
  background: url('../images/pepper-white.png') no-repeat;
  float: right;
  height: 20px;
  text-align: center;
  text-indent: -9999px;
  width: 45px;
  margin-right: 5px;

  &.experience-level-beginner {
    background-position: 0px 1px;
    width: 10px;
  }

  &.experience-level-intermediate {
    background-position: -20px -19px;
    width: 20px;
  }

  &.experience-level-advanced {
    background-position: -49px -39px;
    width: 30px;
  }

}

.view-mode-taxonomy_page_overview {
  .experience-level {
    background-image: url('../images/pepper-black.png');
  }
}
