body:not(.cke_editable) {
  background: url('../images/paper-old-bg_s.png') repeat-y center;
  background-size: 100% auto;

  @media #{$medium-up} {
    background-image: url('../images/paper-old-bg_m.png');
  }

  @media #{$large-up} {
    background-image: url('../images/paper-old-bg_l.png');
  }

  @media #{$xlarge-up} {
    background-image: url('../images/paper-old-bg_xl.png');
  }
}